.dd-delay-05s { animation-delay: 0.5s; }
.dd-delay-0ms { animation-delay: 0ms; }
.dd-delay-150ms { animation-delay: 150ms; }
.dd-delay-300ms { animation-delay: 300ms; }
.dd-delay-450ms { animation-delay: 450ms; }
.dd-delay-600ms { animation-delay: 600ms; }
